div.container.ui-corner-all
  div.header
    div#header-title #{title}
    div.ui-widget
      div#header-info.ui-state-highlight.ui-corner-all
        p
          span#header-info-icon.ui-icon.ui-icon-info
          span#header-info-text 
  div.content
    div.note
      div.ui-widget
        div.ui-state-active.ui-corner-all
          div#note-box
            h2#note-title Note Title
            div#note-tags
              span.ui-icon.ui-icon-tag 
              span Tags:
              input#note-tags-text
            div#note-content-box
              textarea#note-content
            div#note-date
              b Last Update:
              span#note-data-value 
            div#note-cmd
              button#note-delete-button Delete
              button#note-save-button Save
            div.spacer 
    div.list            
      div.ui-widget
        div.ui-state-default.ui-corner-left
          h2#list-header
            span.ui-icon.ui-icon-search 
            Search Notes
          div#list-search
            input#list-search-text 
      div.spacer-20 
      div.ui-widget
        div.ui-state-default.ui-corner-left
          h2#list-header
            span.ui-icon.ui-icon-clock
            Recent Notes
          ol#list-items 
          div.spacer 
          button#note-save-add Add
          div.spacer 
div.footer
  p Project by <a href='#{promo.linkedInUrl}' target='_new'>#{promo.fullName}</a> | <a href='https://twitter.com/#!/#{promo.twitterUser}' target='_new'>@#{promo.twitterUser}</a> | <a href='#{promo.blogUrl}' target='_new'>Blog</a>
  p Source code available at <a href='https://github.com/#{promo.githubUser}/#{promo.githubProject}' target='_new'>GitHub</a>.